<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/manage/changeDesc" method="post">


    <textarea id="editor"></textarea>
    <button type="submit">Save Post</button>
</form>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@4.2.0/js/froala_editor.pkgd.min.js"></script>
<script>
    $(function() {
        new FroalaEditor('#editor', {
            // Set the editor height to 400 pixels
            height: 400
        });
    });
</script>
</body>
</html>