<header th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="header-menubar">
        <div class="header-logo">
            <a th:href="@{/}"><img th:src="@{/image/logo_garo_white.png}"></a>
        </div>
        <div class="header-menu">
            <div class="menu">
                <div class="menu_item_hotel">
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/memberlist}">Hotel</a>
                </div>
                <div class="menu_item_manager" th:switch="${#authorization.expression('hasRole(''MANAGER'')')}">
                    <a th:case="true" sec:authorize="!hasRole('ADMIN')" th:href="@{/manage/hotel}">Manage</a>
                    <a sec:authorize="isAuthenticated() and !hasRole('ADMIN')" th:case="false" href="/manage/application">신청</a>
                </div>
            </div>
        </div>
        <div class="header-login" th:switch="${#authorization.expression('isAuthenticated()')}">
            <button th:case="false" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</button>
            <section th:case="true">
                <i class="fa-solid fa-circle-user fa-2xl" style="color:white" onclick="location.href='/mypage'"></i>&nbsp;
                <button class="btn btn-danger">로그아웃</button>
            </section>
        </div>
    </div>
    <div class="modal fade" id="loginModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <img src="/image/logo_garo.png">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <section class="login-selector">
                        <button class="email-login">Email로 로그인</button>
                        <button class="google-login">Google로 로그인</button>
                        <!-- 네이버 로그인 버튼 수정 -->
                        <form th:action="@{/oauth2/authorization/naver}" method="get">
                            <button type="submit" class="naver-login">Naver로 로그인</button>
                        </form>
                        <form th:action="@{/oauth2/authorization/kakao}" method="get">
                            <button type="submit" class="kakao-login">Kakao로 로그인</button>
                        </form>
                    </section>
                    <section class="login-form d-none">
                        <form action="/login" method="post" id="sign-form">
                            <ul class="form-group">
                                <caption>Email</caption>
                                <li><input type="email" class="form-control" name="memberEmail"></li>

                                <section class="after-click d-none">
                                    <caption>비밀번호</caption>
                                    <li><input type="password" class="form-control" name="memberPassword" id="password"></li>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                                        <label class="form-check-label" for="remember-me">로그인 유지</label>
                                    </div>
                                    <section class="signin-form d-none">
                                        <caption>비밀번호 재입력</caption>
                                        <li><input type="password" id="password-repeat" class="form-control"></li>
                                        <caption>이름입력</caption>
                                        <li><input type="text" name="memberName" class="form-control"></li>
                                        <caption>전화번호 입력</caption>
                                        <li><input type="text" name="memberPhone" class="form-control"></li>
                                    </section>
                                </section>
                                <button class="btn btn-success" id="login-btn" type="button">로그인</button><br>

                            </ul>
                        </form>
                    </section>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>

</header>