<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<aside th:fragment="admin-sidebar">
    <div class="sidebar">
        <img class="sidebar-logo" src="/image/logo_nemo_white.png">
        <br>
        <ul>
            <li><a href="/admin/memberlist">고객 관리</a></li>
            <li><a href="/admin/hotellist">호텔 관리</a></li>
            <li><a href="/admin/managerlist">매니저 관리</a></li>
            <li><a>고객 문의</a></li>
            <li><a>승인 심사</a></li>
            <li><a>이벤트</a></li>
        </ul>
    </div>
</aside>

<aside th:fragment="manager-sidebar">

    <div class="sidebar">
        <img class="sidebar-logo" src="/image/logo_nemo_white.png">
        <br>
        <span>이&nbsp;&nbsp;&nbsp;름 :  </span>
        <span th:text="${#authentication.principal.memberName}"></span>
        <br>
        <span>이메일 :   </span><span sec:authentication="name"></span>
        <ul>
            <li><a th:href="@{/manage/hotel}">호텔 관리</a></li>
            <li><a href="#">예약 관리</a></li>
            <li><a th:href="@{/manage/room}">방 관리</a></li>
            <li><a>리뷰 확인</a></li>
            <li><a>이벤트</a></li>
        </ul>
    </div>
</aside>

<aside th:fragment="hotelSearch-sidebar">
	<div class="sidebar">
      <span>필터</span>
      <button>초기화</button> <hr>
      
      <b>숙소유형</b><br>
      
      <form id="categoryForm"></form>
      <input name="category" type="radio" value="all" />전체<br>
      <input name="category" type="radio" value="motel"/>모텔<br>
      <input name="category" type="radio" value="hotel&resort"/>호텔·리조트<br>
      <input name="category" type="radio" value="pension"/>펜션<br>
      <input name="category" type="radio" value="home&villa"/>홈&빌라<br>
      <input name="category" type="radio" value="camping"/>캠핑<br>
      <input name="category" type="radio" value="guesthouse"/>게하·한옥<hr>
      
      <b>가격</b><br>
      <input type="range" min="0" max="500000" step="100000"><br>
      <b>원 이하</b><hr>
      
      <b>#취향</b><br>
      <input type="checkbox">#가족여행숙소
      <input type="checkbox">#온수풀
      <input type="checkbox">#뷰맛집
      <input type="checkbox">#바닷가
      <input type="checkbox">#조식맛집
      <hr>
      <b>할인혜택</b><br>
      <input type="checkbox">쿠폰할인
      <input type="checkbox">할인특가 <hr>
      <b>시설</b><br>
      <input type="checkbox">사우나
      <input type="checkbox">수영장
      <input type="checkbox">레스토랑
      <input type="checkbox">피트니스
      <input type="checkbox">골프장
      <input type="checkbox">공용PC
      <input type="checkbox">주방/식당
      <input type="checkbox">세탁기
      <input type="checkbox">주차장
      <input type="checkbox">온천
      <input type="checkbox">스키장
      <input type="checkbox">객실내취사
      <input type="checkbox">조식제공
      <input type="checkbox">객실내흡연
      <input type="checkbox">짐보관가능
      <input type="checkbox">장애인편의
      <input type="checkbox">픽업서비스
      <hr>
      
      
    </div>
<script src="/javascript/hotelSearch.js"></script>
	


</aside>

</html>