/* bookingComplete.css */

.booking-complete-container {
    max-width: 450px;
    margin: 120px auto;
    text-align: center;
}

.icon-check {
    font-size: 60px;
    color: #4caf50;
    margin-bottom: 20px;
}

h2 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}

.subtitle {
    color: #666;
    margin-bottom: 40px;
    line-height: 1.4;
}

.booking-info-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px 30px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 15px;
    color: #333;
}

.booking-info-box dl {
    display: grid;
    grid-template-columns: 90px 1fr;
    row-gap: 18px;
    column-gap: 12px;
}

.booking-info-box dt {
    font-weight: 700;
}

/* 공통 버튼 스타일 */
.btn-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    flex: 1;               /* 한 줄에 나란히 */
    font-size: 18px;
    padding: 12px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

/* 색상 스타일 */
.btn-primary {
    background-color: #007BFF;
    color: white;
}

.btn-primary:hover {
    background-color: #0056B3;
}

.btn-secondary {
    background-color: #ccc;
    color: black;
}

.btn-secondary:hover {
    background-color: #aaa;
}
