<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/managerLayout}">
<div layout:fragment="content">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>잔여객실</th>
            <th>관리자</th>

        </tr>
        <tr th:each="hotel : ${hotels}">
            <td th:text="${hotel.HotelIdx}"></td>
            <td th:text="${hotel.HotelName}"></td>
            <td th:text="${member.HotelEmpty}"></td>
            <td th:text="${hotel.MemberName}"></td>

        </tr>
    </table>
</div>
</html>